name: CI
on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

env:
  GO_VERSION: 1.19.x
  
jobs:
  run-go-test:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:8.0.28
        env:
          MYSQL_ROOT_PASSWORD: secret
          MYSQL_DATABASE: task_list
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Setup go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Verify task_list DB exists
        run: mysql --host 127.0.0.1 --port 3306 -uroot -psecret -e "SHOW DATABASES LIKE 'task_list'"

      - name: Go test
        env:
          DB_HOST: mysql      
        run: |
          go mod tidy
          make test
